# 30th Jan

# Q1.

## Write a program to accept percentage from the user and display the grade according to the following criteria:

| Marks | Grade |
| - | - |
| >90 | A |
| >80 and <= 90 | B |
| >=60 and <= 80 | C |
| Below 60 | D |

In [4]:
marks_perc = float(input("Enter the marks in percentage: "))

if marks_perc > 90:
    print("Grade: A")
elif marks_perc > 80:
    print("Grade: B")
elif marks_perc >= 60:
    print("Grade: C")
else:
    print("Grade: D")

Enter the marks in percentage: 88
Grade: B

# Q2.

## Write a program to accept the cost price of a bike and display the road tax to be paid accoriding to the following criteria:

| Tax | Cost Price(in Rs) |
| - | - |
| 15% | 1,00,000 |
| 10% | >50,000 and <= 1,00,000 |
| 5% | <=50,000 |

In [5]:
cost = float(input("Enter the cost price of the bike: "))

if cost <= 50000:
  road_tax = cost * 0.05
elif cost <= 100000:
  road_tax = cost * 0.1
else:
  road_tax = cost * 0.15

print(f"Tax amount: {road_tax}")

Enter the cost price of the bike: 135000
Tax amount: 20250.0

# Q3.

## Acept any city from the user and display monuments of that city.

| City | Monument |
| - | - |
| Delhi | Red Fort |
| Agra | Taj Mahal |
| Jaipur | Jal Mahal |

In [6]:
city = input("Enter the city to know the monument: ")
city = city.lower().strip()

if city == "delhi":
  print("Red Fort")
elif city == "agra":
  print("Taj Mahal")
elif city == "jaipur":
  print("Jal Mahal")
else:
  print("Oops! you had better search on the internet.")

Enter the city to know the monument: jaipur
Jal Mahal

In [7]:
185*0.75

138.75

# Q4.

## Check how many times a given number can be divided by 3 before it is less than or equal ot 10.

In [8]:
num = float(input("Enter any number: "))

copy_num = num
count = 0
while copy_num > 10:
  count += 1
  copy_num = copy_num / 3
  
print(f"{count} times the numer {num} can be divided by 3 before it is less than or equal to 10")

Enter any number: 100
3 times the numer 100.0 can be divided by 3 before it is less than or equal to 10

# Q5.

## Why and when to use while loop in python give a detailed description with example

## Answer:

In Python, a while loop is used to repeatedly execute a block of code as long as a certain condition is met. The loop continues to run until the condition becomes false.

Here's an example to illustrate the use of while loop in Python:

In [9]:
# A program to print the numbers from 1 to 10

count = 1

# while loop starts
while count <= 10:
    print(count)
    count = count + 1

# while loop ends
print("End of while loop")

1
2
3
4
5
6
7
8
9
10
End of while loop

In this example, the condition `count <= 10` is checked at the start of each iteration. As long as this condition is true, the code inside the loop will be executed. In each iteration, the value of `count` is incremented by 1, and the condition is evaluated again. When the condition becomes false (when `count` is greater than 10), the loop will stop executing and the program will continue with the next statement after the loop.

The while loop is useful when you do not know beforehand how many times you need to repeat a certain block of code. For instance, if you want to repeatedly prompt the user to enter a number until they enter a valid number, you can use a while loop. The condition in this case would be to check whether the input is a valid number, and the loop would continue until a valid number is entered.

Here's an example to illustrate this:

In [10]:
# A program to repeatedly prompt the user to enter a number until a valid number is entered

while True:
    user_input = input("Enter a number: ")
    if user_input.isdigit():
        print("Valid number entered:", user_input)
        break
    else:
        print("Invalid input. Please enter a valid number.")

Enter a number: 85
Valid number entered: 85

In this example, the loop will run indefinitely as long as the condition `True` is met. The `break` statement is used to exit the loop when a valid number is entered.

# Q6.

## Use nested while loop to display numbers from 10 to 1.

In [11]:
# A program to display the numbers from 10 to 1 using nested while loops

outer_count = 10

# outer while loop
while outer_count >= 1:
    inner_count = outer_count
    
    # inner while loop
    while inner_count >= 1:
        print(inner_count, end=' ')
        inner_count = inner_count - 1
    # inner while loop ends
    
    print()
    outer_count = outer_count - 1
# outer while loop ends

print("End of nested while loop")

10 9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
End of nested while loop

# Q7.

## Reverse a while loop to display numbers from 10 to 1

In [12]:
num = 10

while num >= 1:
  print(num)
  num -= 1

10
9
8
7
6
5
4
3
2
1

In [13]:
# Using for loop with range()

num = 10
for i in range(num, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

************************************************************************************************************************************************************************************************************************