In [30]:
pip install pandas

Requirement already satisfied: pandas in /config/.local/lib/python3.8/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /config/.local/lib/python3.8/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /config/.local/lib/python3.8/site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /config/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /config/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# *Consider following code to answer further questions*:

In [31]:
import pandas as pd
course_name = ['Data Scienc', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})


print(df)

        course_name  duration
0       Data Scienc         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Q1. 

Write a code to print the data present in the second row of the dataframe, df.

## Answer

In [32]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. 

What is the difference between the functions loc and iloc in pandas.DataFrame?

## Answer

`loc` and `iloc` are two methods in the Pandas DataFrame that are used to retrieve data from specific rows and columns.

The main difference between `loc` and `iloc` is in how they access the data:

`loc` is label-based and is used to retrieve data by row and column labels. This means that you need to specify the row and column labels to retrieve the data.

`iloc` is integer-based and is used to retrieve data by row and column index positions. This means that you need to specify the row and column index positions to retrieve the data.

# Q3. 

Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [33]:
new_index = [3, 0, 1, 2]
new_df = df.reindex(new_index)
new_df

        course_name  duration
3     Data Engineer         4
0       Data Scienc         2
1  Machine Learning         3
2          Big Data         6

In [34]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [35]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

The output of `new_df.loc[2]` is `course_name Big Data, duration 6`. This is because `loc` uses the label '2' to retrieve the row with the label '2', which in this case corresponds to the row with the course name 'Big Data' and duration '6'.

The output of `new_df.iloc[2]` is `course_name Machine Learning, duration 3`. This is because `iloc` uses the integer index position '2' to retrieve the row in the third position (since indexing starts at 0), which corresponds to the row with the course name 'Machine Learning' and duration '3'.

As we can see, the output of `new_df.loc[2]` and `new_df.iloc[2]` are different, even though they both correspond to the same row. This is because `loc` and `iloc` use different methods to retrieve the row. `loc` uses the label '2', which corresponds to the row with the course name 'Big Data', while `iloc` uses the integer index position '2', which corresponds to the row with the course name 'Machine Learning'. This demonstrates the importance of understanding the difference between `loc` and `iloc` and using the appropriate method for your needs.

# *Consider the below code to answer further questions:*

In [36]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
print(df1)

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.554567  0.667196  0.870470  0.073612  0.678422  0.311115
2  0.661435  0.585993  0.166375  0.322021  0.443642  0.476403
3  0.566874  0.234873  0.815815  0.322098  0.131982  0.529500
4  0.736682  0.823665  0.134523  0.736321  0.859242  0.999100
5  0.449657  0.036116  0.296106  0.045072  0.507166  0.529083
6  0.621973  0.451789  0.707761  0.699028  0.765483  0.018293

# Q4. 

Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [37]:
# (i) mean of each and every column present in the dataframe.
print(df1.mean())

column_1    0.598531
column_2    0.466605
column_3    0.498509
column_4    0.366359
column_5    0.564323
column_6    0.477249
dtype: float64

In [38]:
# (ii) standard deviation of column, ‘column_2’
print(df1['column_2'].std())

0.2902488281963301

# Q5. 
Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

## Answer

To replace the data present in the second row of 'column_2' by a string variable, we can use the following code:

In [39]:
df1.loc[2, 'column_2'] = 'string_variable'

In [40]:
print(df1)

   column_1         column_2  column_3  column_4  column_5  column_6
1  0.554567         0.667196  0.870470  0.073612  0.678422  0.311115
2  0.661435  string_variable  0.166375  0.322021  0.443642  0.476403
3  0.566874         0.234873  0.815815  0.322098  0.131982  0.529500
4  0.736682         0.823665  0.134523  0.736321  0.859242  0.999100
5  0.449657         0.036116  0.296106  0.045072  0.507166  0.529083
6  0.621973         0.451789  0.707761  0.699028  0.765483  0.018293

This code uses the `loc` method to access the cell in the second row of the 'column_2' column and replace its value with the string variable.

To find the mean of the 'column_2' column after replacing the second row value with a string, we can use the following code:

In [41]:
# try to calculate the mean of 'column_2'
mean_column_2 = df1['column_2'].mean()
print("Mean of column_2:", mean_column_2)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

As we can see, this code raises a `TypeError` because we are trying to calculate the mean of a column containing a non-numeric value ('string_variable'). To avoid this error, we need to make sure that all values in the 'column_2' column are numeric before calculating the mean. We can use the `pd.to_numeric()` method with errors='coerce' parameter to convert the column to numeric type and replace any non-numeric values with NaN, as shown in my previous answer.

# Q6. 

What do you understand about the windows function in pandas and list the types of windows functions?

## Answer

In pandas, a window function is a type of function that applies a calculation to a subset of rows in a DataFrame, known as a "window", where the subset of rows is defined by a sliding window of fixed size.

Window functions can be used to perform various types of calculations, such as moving averages, cumulative sums, rolling aggregations, etc. They are particularly useful for time-series data or any data that has a natural ordering, where we want to calculate a statistic over a rolling window of data points.

There are several types of window functions available in pandas, including:

* `Rolling`: This function provides rolling window calculations by defining a fixed window size and then applying a function to the values in each window.
* `Expanding`: This function applies a function to all the values in the DataFrame up to the current row.
* `EWM`: Exponentially weighted moving average is another type of window function where the weights assigned to each data point decreases exponentially over time.
* `GroupBy`: The groupby function can also be used as a window function to calculate aggregates over a rolling window of rows for each group.

These window functions can be used with various statistical and mathematical functions like sum, mean, median, std, min, max, etc. to calculate the desired statistic over the defined window.

# Q7. 

Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

## Answer

In [42]:
import pandas as pd

current_time = pd.datetime.now()
current_month = current_time.month
current_year = current_time.year

print("Current month and year:", current_month, current_year)

Current month and year: 3 2023

/tmp/ipykernel_2049/2274285597.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_time = pd.datetime.now()

In [43]:
pd.datetime.now()

/tmp/ipykernel_2049/3174630878.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now()

datetime.datetime(2023, 3, 19, 9, 51, 5, 662073)

# Q8. 

Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

## Answer

Here's the Python program that prompts the user to input two dates in the format YYYY-MM-DD and calculates the difference between them in days, hours, and minutes using pandas timedelta:

In [45]:
import pandas as pd

# Prompt user to input two dates in YYYY-MM-DD format
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# date1 = "1996-12-10"
# date2 = "2023-3-19"

print(date1)
print(date2)

1996-12-10
2023-3-19

In [46]:

# Convert the input strings to pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

print(date1)
print(date2)

1996-12-10 00:00:00
2023-03-19 00:00:00

In [47]:

# Calculate the time difference using pandas timedelta
time_diff = date2 - date1
print(time_diff)

9595 days 00:00:00

In [48]:

# Extract days, hours, and minutes from the timedelta object
days_diff = time_diff.days
hours_diff = time_diff.seconds // 3600
minutes_diff = (time_diff.seconds % 3600) // 60

# Display the result
print("Time difference between", date1.date(), "and", date2.date(), "is:")
print(days_diff, "days", hours_diff, "hours", minutes_diff, "minutes")

Time difference between 1996-12-10 and 2023-03-19 is:
9595 days 0 hours 0 minutes

# Q9. 

Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

## Answer

Here's a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program prompts the user to enter the file path, column name, and category order, and then displays the sorted data:

```
import pandas as pd

# Prompt user to enter file path and column name
file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")

# Read CSV file into a pandas dataframe
data = pd.read_csv(file_path)

# Prompt user to enter category order
categories = input("Enter the category order (comma-separated): ").split(',')

# Convert column to categorical data type
data[column_name] = pd.Categorical(data[column_name], categories=categories, ordered=True)

# Sort data by the categorical column
data = data.sort_values(column_name)

# Display the sorted data
print(data)
```

This program first prompts the user to enter the file path and column name using the `input()` function. The program then reads the CSV file into a pandas dataframe using the `pd.read_csv()` function.

The program then prompts the user to enter the category order as a comma-separated list of strings, which is then converted to a list using the `split()` function.

Next, the program converts the specified column to a categorical data type using the `pd.Categorical()` function, specifying the category order and setting `ordered=True` to ensure that the categories are treated as an ordered set.

Finally, the program sorts the data by the categorical column using the `sort_values()` function and displays the sorted data using the `print()` function.

# Q10. 

Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

## Answer

Here's a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program prompts the user to enter the file path and displays the chart:

```
import pandas as pd
import matplotlib.pyplot as plt

# Prompt user to enter file path
file_path = input("Enter the file path: ")

# Read CSV file into a pandas dataframe
data = pd.read_csv(file_path)

# Convert date column to datetime data type
data['date'] = pd.to_datetime(data['date'])

# Pivot data to create a multi-index dataframe with product categories as columns and dates as rows
data_pivot = pd.pivot_table(data, values='sales', index=['date'], columns=['product_category'], aggfunc=sum)

# Plot stacked bar chart
ax = data_pivot.plot(kind='bar', stacked=True)

# Set chart title and axis labels
plt.title('Sales by Product Category')
plt.xlabel('Date')
plt.ylabel('Sales')

# Display the chart
plt.show()
```

This program first prompts the user to enter the file path using the `input()` function. The program then reads the CSV file into a pandas dataframe using the `pd.read_csv()` function.

The program then converts the date column to a datetime data type using the `pd.to_datetime()` function. The data is then pivoted using the `pd.pivot_table()` function to create a multi-index dataframe with product categories as columns and dates as rows.

Next, the program plots a stacked bar chart using the `plot()` function of the pivoted dataframe. The `kind='bar'` argument specifies that a bar chart should be created, and `stacked=True` specifies that the bars should be stacked on top of each other.

Finally, the program sets the chart title and axis labels using the `title()`, `xlabel()`, and `ylabel()` functions, and displays the chart using the `show()` function.

# Q11. 

You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

The program should do the following:

* Prompt the user to enter the file path of the CSV file containing the student data
* Read the CSV file into a Pandas DataFrame
* Calculate the mean, median, and mode of the test scores using Pandas tools
* Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns:

* Student ID: The ID of the student
* Test Score: The score of the student's test.

Example usage of the program:
```
Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
```

Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85


The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [49]:
file_path = input("Enter the file path of the CSV file containing the student data: ")
df = pd.read_csv(file_path)


stats_df = pd.DataFrame(data={"Statistic": ['mean', 'median', 'mode'], \
                                "Value":[df['Test Score'].mean(), \
                                         df['Test Score'].median(), \
                                         df['Test Score'].mode()[0]
                                        ]
                             }
                        )


print(stats_df)

  Statistic  Value
0      mean   83.5
1    median   85.0
2      mode   85.0

*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************