# Q1.

## What is a database? Differentiate between SQL and NoSQL databases.

### Answer

A database is a collection of organized data that can be easily accessed, managed, and updated. It is an essential component of most modern software applications and is used to store various types of data such as customer information, financial records, and product inventory.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two types of database management systems that differ in their approach to data storage and retrieval.

SQL databases are relational databases that store data in tables with predefined schemas. They use SQL as a standard language for managing data and querying the database. SQL databases are known for their robustness, scalability, and consistency in data management. Some popular examples of SQL databases include MySQL, Oracle, and Microsoft SQL Server.

NoSQL databases, on the other hand, are non-relational databases that do not use tables to store data. Instead, they use document-based, key-value, or graph-based data models. NoSQL databases are more flexible and can handle unstructured data more efficiently than SQL databases. They are also highly scalable and can handle large volumes of data. Some popular examples of NoSQL databases include MongoDB, Cassandra, and Redis.

In summary, SQL databases are best suited for applications that require structured data, consistency, and reliability. NoSQL databases, on the other hand, are ideal for applications that handle unstructured data, need high scalability, and have evolving data requirements.

# Q2.

## What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### Answer

DDL (Data Definition Language) is a subset of SQL that is used to define and manage the structure of a database. DDL commands are used to create, modify, and delete objects such as tables, indexes, and views in a database. Some common DDL commands include CREATE, DROP, ALTER, and TRUNCATE.

**`CREATE`**: The `CREATE` command is used to create new objects in the database, such as tables, indexes, and views. For example, the following command creates a new table called "customers" in a database:

```
CREATE TABLE customers (
   customer_id INT PRIMARY KEY,
   customer_name VARCHAR(50),
   customer_email VARCHAR(50)
);
```

**`DROP`**: The `DROP` command is used to delete an existing object from the database, such as a table, index, or view. For example, the following command drops the "customers" table from the database:

```
DROP TABLE customers;
```

**`ALTER`**: The `ALTER` command is used to modify the structure of an existing object in the database, such as a table or view. For example, the following command adds a new column called "customer_phone" to the "customers" table:

```
ALTER TABLE customers ADD customer_phone VARCHAR(20);
```

**`TRUNCATE`**: The `TRUNCATE` command is used to remove all data from a table, but keeps the table structure intact. This is faster than using the DELETE command to remove data, as it does not log the individual deletions. For example, the following command removes all data from the "customers" table:

```
TRUNCATE TABLE customers;
```

In summary, DDL commands are used to create, modify, and delete objects in a database. CREATE is used to create new objects, DROP is used to delete existing objects, ALTER is used to modify existing objects, and TRUNCATE is used to remove all data from a table.

# Q3.

## What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### Answer

DML (Data Manipulation Language) is a subset of SQL that is used to manipulate data in a database. DML commands are used to insert, update, and delete data in a table. Some common DML commands include INSERT, UPDATE, and DELETE.

**`INSERT`**: The `INSERT` command is used to insert new data into a table. For example, the following command inserts a new row into a "customers" table:

```
INSERT INTO customers (customer_id, customer_name, customer_email) VALUES (1, 'John Smith', 'john.smith@example.com');

```

**`UPDATE`**: The `UPDATE` command is used to modify existing data in a table. For example, the following command updates the email address of the customer with ID 1:

```
UPDATE customers SET customer_email = 'john.smith@newexample.com' WHERE customer_id = 1;
```

**`DELETE`**: The `DELETE` command is used to remove data from a table. For example, the following command removes the row with customer ID 1 from the "customers" table:

```
DELETE FROM customers WHERE customer_id = 1;
```

In summary, DML commands are used to manipulate data in a database. INSERT is used to insert new data into a table, UPDATE is used to modify existing data, and DELETE is used to remove data from a table.

# Q4.

## What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL that is used to retrieve data from a database. DQL commands are used to perform queries on a table or a set of tables. The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables based on specified criteria.

**`SELECT`**: The `SELECT` command is used to retrieve data from one or more tables in a database. It can also perform calculations, sorting, and grouping of data. For example, the following command retrieves all columns and rows from a "customers" table:

```
SELECT * FROM customers;
```

You can also select specific columns by specifying their names in the SELECT statement. For example, the following command retrieves the customer name and email columns from the "customers" table:

```
SELECT customer_name, customer_email FROM customers;
```

You can use the WHERE clause to specify criteria for selecting data based on certain conditions. For example, the following command retrieves all customers whose email address ends with "@example.com":

```
SELECT * FROM customers WHERE customer_email LIKE '%@example.com';
```

You can also use functions in the SELECT statement to perform calculations or manipulate data. For example, the following command calculates the total sales for each customer from a "sales" table:

```
SELECT customer_id, SUM(sale_amount) AS total_sales FROM sales GROUP BY customer_id;
```

In summary, SELECT is used to retrieve data from one or more tables in a database. You can select specific columns, use the WHERE clause to specify criteria for selecting data, and use functions to perform calculations or manipulate data.

# Q5.

## Explain Primary Key and Foreign Key.

### Answer

Primary key and foreign key are two important concepts in database design. They are used to establish relationships between tables and ensure data integrity.

**`Primary Key`**:
A primary key is a unique identifier for each row in a table. It is used to ensure that each row in a table is unique and can be easily referenced by other tables in the database. Primary keys can be created using one or more columns in a table, and they must be unique and not null. A table can have only one primary key.

For example, in a "customers" table, the customer_id column could be used as the primary key. This ensures that each customer has a unique identifier and allows other tables to reference the customer by their ID.

**`Foreign Key`**:
A foreign key is a column or set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables in a database. The table that contains the foreign key is called the child table, and the table that contains the primary key is called the parent table.

For example, in an "orders" table, the customer_id column could be used as a foreign key that refers to the customer_id primary key in the "customers" table. This ensures that each order is associated with a specific customer and allows the orders to be easily retrieved for a specific customer.

Foreign keys can be used to enforce referential integrity, which ensures that data in the child table is consistent with the data in the parent table. This means that if a row in the parent table is deleted or updated, the corresponding rows in the child table will also be updated or deleted, ensuring that the data remains consistent.

In summary, primary keys are unique identifiers for each row in a table, while foreign keys are used to establish relationships between tables and ensure data integrity. The primary key of one table is used as a foreign key in another table to establish a relationship between the two tables.

# Q6.

## Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

### Answer

To connect to MySQL using Python, you need to first install the MySQL Connector module. You can install it using pip by running the following command:

```
pip install mysql-connector-python
```

Once you have installed the MySQL Connector module, you can connect to MySQL using the following Python code:

```
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="databasename"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM customers")

# fetch the results
result = mycursor.fetchall()

# print the results
for row in result:
  print(row)
```

In the above code, the `mysql.connector.connect()` method is used to connect to the MySQL database. You need to provide the hostname, username, password, and database name to connect to the database.

Once you have connected to the database, you can create a cursor object using the `cursor()` method. The cursor object is used to execute SQL queries and fetch the results.

The `execute()` method is used to execute a SQL query. You can pass a SQL query as a parameter to the `execute()` method. The `fetchall()` method is used to fetch all the results of a query. You can use other methods like `fetchone()` or `fetchmany()` to fetch specific results.

In summary, the `cursor()` method is used to create a cursor object, and the `execute()` method is used to execute a SQL query. These methods are used to interact with the MySQL database using Python.

# Q7.

## Give the order of execution of SQL clauses in an SQL query.

### Answer

In SQL, an SQL query is executed in a specific order of clauses. The order of execution is as follows:

**I. `SELECT`**: This clause is used to select the columns that will be returned in the result set.

**II. `FROM`**: This clause specifies the table(s) from which data is to be retrieved.

**III. `WHERE`**: This clause is used to filter the data based on a condition.

**IV `GROUP BY`**: This clause is used to group the data based on one or more columns.

**V. `HAVING`**: This clause is used to filter the data after the grouping has been applied.

**VI. `ORDER BY`**: This clause is used to sort the result set based on one or more columns.

**VII. LIMIT/OFFSET**: These clauses are used to limit the number of rows returned in the result set or to specify the starting row for the result set.

It is important to note that not all clauses are required in every SQL query, and some clauses can be used multiple times in a single query. However, the order of execution remains the same for all SQL queries.

For example, consider the following SQL query:

```
SELECT customer_name, SUM(order_total)
FROM orders
WHERE order_date BETWEEN '2022-01-01' AND '2022-12-31'
GROUP BY customer_name
HAVING SUM(order_total) > 1000
ORDER BY SUM(order_total) DESC
LIMIT 10
```

In this query, the FROM clause specifies the table "orders" from which data is retrieved. The WHERE clause filters the data based on the condition that the order date is between January 1, 2022, and December 31, 2022. The GROUP BY clause groups the data by customer_name, and the HAVING clause filters the groups to only include those with a total order value greater than 1000. The SELECT clause selects the customer_name and the total order value for each group. The ORDER BY clause sorts the result set in descending order based on the total order value, and the LIMIT clause limits the result set to the top 10 rows.

*************************************************************************************************************************