# **7th Feb**

# Q1.

## You are writing code for a company. The requirement of the company is that you create a python function that will check whether the password entered by the user is correct or not. The function should take the password as input and return the string “Valid Password” if the entered password follows the below-given password guidelines else it should return “Invalid Password”. 

**Note**: 
1. The Password should contain at least two uppercase letters and at least two lowercase letters.
2. The Password should contain at least a number and three special characters.
3. The length of the password should be 10 characters long.

In [ ]:
def password(string: str):
  if len(string) >= 10:

    count_upper, count_lower, count_digit, count_special_char = (0, 0, 0, 0)
    for char in string:
      if char.isupper():
        count_upper += 1
      elif char.islower():
        count_lower += 1
      elif char.isdigit():
        count_digit += 1
      else:
        count_special_char += 1
  else:
    return 'Invalid Password!!!'
  
  if (count_upper >= 2) and (count_lower >= 2) and (count_digit >= 1) and (count_special_char >= 3):
    return 'Valid Password.'
  else:
    return 'Invalid Password!!!'

In [ ]:
result_1 = password('thePassWord 99#8@toValid')
print(result_1)

Valid Password.

In [ ]:
result_2 = password('thePassWord')
print(result_2)

Invalid Password!!!

# Q2.

## Solve the below-given questions using at least one of the following:

## 1. Lambda function
## 2. Filter function
## 3. Map function
## 4. List Comprehension

* ***Check if the string starts with a particular letter***

In [ ]:
courses = ['PW Skills', 'Data science', 'pw mains', 'Machine Learning', 'Pw GATE']

list(map(lambda x: 'Start with P' if x[0].lower() == 'p' else 'Not start with p', courses))

['Start with P',
 'Not start with p',
 'Start with P',
 'Not start with p',
 'Start with P']

In [ ]:
['Start with P' if course[0].lower() == 'p' else 'Not start with p' for course in courses]

['Start with P',
 'Not start with p',
 'Start with P',
 'Not start with p',
 'Start with P']

* ***Check if the string is numeric***

In [ ]:
strings = ['2', '8', 'None', '12', 'na', '2.8', '2.74',  'three']

def is_float(string):
    try:
        float(string)
        return True
    except ValueError:
        return False

list(map(lambda x: f'{x} is a numeric' if is_float(x) else f'{x} is not a numeric', strings))

['2 is a numeric',
 '8 is a numeric',
 'None is not a numeric',
 '12 is a numeric',
 'na is not a numeric',
 '2.8 is a numeric',
 '2.74 is a numeric',
 'three is not a numeric']

In [ ]:
[f'{string} is a numeric' if is_float(string) else f'{string} is not a numeric' for string in strings]

['2 is a numeric',
 '8 is a numeric',
 'None is not a numeric',
 '12 is a numeric',
 'na is not a numeric',
 '2.8 is a numeric',
 '2.74 is a numeric',
 'three is not a numeric']

* ***Sort a list of tuples having fruit names and their quantity***. 
      [("mango",99),("orange",80), ("grapes", 1000)]

In [ ]:
count_fruits = [("mango",99),("orange",80), ("grapes", 1000)]

# Sorting based on name
sorted_list = sorted(count_fruits, key = lambda x:x[0])
sorted_list

[('grapes', 1000), ('mango', 99), ('orange', 80)]

In [ ]:
count_fruits = [("mango",99),("orange",80), ("grapes", 1000)]

# Sorting based on quantity in descending order
sorted_list = sorted(count_fruits, key = lambda x:x[1], reverse=True)
sorted_list

[('grapes', 1000), ('mango', 99), ('orange', 80)]

In [ ]:
count_fruits = [("mango",99),("orange",80), ("grapes", 1000)]

# Sorting based on quantity and name
sorted_list = sorted(count_fruits, key = lambda x:(x[1], x[0]), reverse=True)
sorted_list

[('grapes', 1000), ('mango', 99), ('orange', 80)]

* ***Find the squares of numbers from 1 to 10***

In [ ]:
# Using map and lambda together
n = 10
list(map(lambda x: x**2, range(1, n+1)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# using List comprehension
n = 10
[x**2 for x in range(1, n+1)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

* ***Find the cube root of numbers from 1 to 10***

In [ ]:
n = 10
list(map(lambda x: x**(1/3), range(1, n+1)))

[1.0,
 1.2599210498948732,
 1.4422495703074083,
 1.5874010519681994,
 1.7099759466766968,
 1.8171205928321397,
 1.912931182772389,
 2.0,
 2.080083823051904,
 2.154434690031884]

In [ ]:
n = 10
[x**(1/3) for x in range(1, n+1)]

[1.0,
 1.2599210498948732,
 1.4422495703074083,
 1.5874010519681994,
 1.7099759466766968,
 1.8171205928321397,
 1.912931182772389,
 2.0,
 2.080083823051904,
 2.154434690031884]

* ***Check if a given number is even***

In [ ]:
check_even = lambda x: f'{x} is Odd' if x%2 else f'{x} is Even'
check_even(42)

'42 is Even'

In [ ]:
check_even(9)

'9 is Odd'

* ***Filter odd numbers from the given list***.
      [1,2,3,4,5,6,7,8,9,10]

In [ ]:
# using filter and lambda together
nums = [1,2,3,4,5,6,7,8,9,10]
odd_nums = list(filter(lambda x: x%2 == 1, nums))
odd_nums

[1, 3, 5, 7, 9]

In [ ]:
# using List comprehension
nums = [1,2,3,4,5,6,7,8,9,10]
odd_nums =  [num for num in nums if num%2 == 1]
odd_nums

[1, 3, 5, 7, 9]

* ***Sort a list of integers into positive and negative integers lists***.
      [1,2,3,4,5,6,-1,-2,-3,-4,-5,0]

In [ ]:
nums = [1,2,3,4,5,6,-1,-2,-3,-4,-5,0]
sorted_nums = sorted(nums)
sorted_nums

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6]

In [ ]:
nums_sort = nums.copy()
print(nums_sort)
nums_sort.sort() # It is like inplace = True in pandas
print(nums_sort)

[1, 2, 3, 4, 5, 6, -1, -2, -3, -4, -5, 0]
[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6]

************************************************************************************************************************************************************************************************************************