# Q1.  Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

## Answer

In [3]:
# pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     |████████████████████████████████| 12.2 MB 2.8 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     |████████████████████████████████| 499 kB 65.4 MB/s eta 0:00:01
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 73.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /config/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /config/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/config/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
series = pd.Series([4, 8, 15, 16, 23, 42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

## Answer

In [5]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ser = pd.Series(my_list)
print(ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:


| Name | Age | Gender |
| - | - | - |
| Alice | 25 | Female |
| Bob   | 30 | Male   |
| Clair | 27 | Female |


# Then, print the DataFrame.

## Answer

In [7]:
data = pd.DataFrame(data={'Name':['Alice', 'Bob', 'Clair'], 'Age':[25, 30, 27], 'Gender':['Female', 'Male', 'Female']})
data

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clair   27  Female

In [8]:
print(data)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clair   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

## Answer

In pandas, a `DataFrame` is a two-dimensional table of data with rows and columns, similar to a spreadsheet or a SQL table. It is the most commonly used data structure in pandas and provides a powerful and flexible way to manipulate and analyze data.

A `DataFrame` is made up of `Series` objects, where each `Series` represents a column in the table. However, a `DataFrame` has additional capabilities that make it more suitable for complex data analysis, such as the ability to handle missing data, merge and join multiple data sources, and perform group-by operations.

Here's an example to illustrate the difference between a `DataFrame` and a `Series` in pandas:

In [9]:
import pandas as pd

# create a dictionary of data for a simple DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 30, 35, 40],
        'gender': ['F', 'M', 'M', 'M']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
3    David   40      M

This will create a `DataFrame` with three columns (`name`, `age`, and `gender`) and four rows, one for each person in the `data` dictionary.

In this example, each column of the `DataFrame` is a `Series` object. For example, we can access the `name` column as a `Series` by using the indexing operator `[]`.

As we can see, a `Series` is a one-dimensional array-like object with an index, where each element corresponds to a row in the `DataFrame`. In this example, the `name` `Series` contains the names of the people in the `DataFrame`.

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

## Answer

There are many functions available in Pandas to manipulate data in a DataFrame. Some common functions include:

**`drop`**: Remove specified rows or columns from the DataFrame.

**`fillna`**: Fill missing values in the DataFrame with a specified value or method.

**`groupby`**: Group rows in the DataFrame by a specified column or set of columns.

**`merge`**: Combine two DataFrames into a single DataFrame based on a common column.

**`pivot_table`**: Create a summary table from a DataFrame, where rows are grouped by one column and columns are grouped by another.

An example of when you might use one of these functions is if you have a DataFrame with missing values and you want to fill those values with a specific value or a method like the mean. You could use the fillna function to do this. For example:

In [11]:
import pandas as pd
import numpy as np

# Create a DataFrame with missing values
df = pd.DataFrame({'A': [1, 2, np.nan, 4],
                   'B': [5, np.nan, np.nan, 8],
                   'C': [9, 10, 11, 12]})
# print the DataFrame before imputing missing values
print(df)

     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  NaN  11
3  4.0  8.0  12

In [12]:
# Fill missing values with the mean
df.fillna(df.mean(), inplace=True)

# print DataFrame after imputing missing values with corresponding column's mean
print(df)

          A    B   C
0  1.000000  5.0   9
1  2.000000  6.5  10
2  2.333333  6.5  11
3  4.000000  8.0  12

This will fill the missing values in columns 'A' and 'B' with the mean of the non-missing values in those columns.

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

## Answer

Both Series and DataFrame are mutable in nature, which means that you can modify their contents after they are created. On the other hand, Panel is considered to be a deprecated data structure in Pandas and is no longer actively maintained. It has been replaced by more powerful and flexible data structures such as MultiIndex and the wide range of functions available for manipulating DataFrames.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series in Pandas, you can use the pd.DataFrame() constructor and pass the Series objects as a dictionary, where the keys represent the column names and the values represent the data in each column. Here's an example:

In [13]:
import pandas as pd

# Create Series for the data
s1 = pd.Series([1, 2, 3])
s2 = pd.Series(['a', 'b', 'c'])
s3 = pd.Series([True, False, True])

# Create the DataFrame using the Series
df = pd.DataFrame({'col1': s1, 'col2': s2, 'col3': s3})

# Print the DataFrame
print(df)

   col1 col2   col3
0     1    a   True
1     2    b  False
2     3    c   True

In this example, we created three Series objects s1, s2, and s3, each with different types of data. We then created a DataFrame df using these Series, where each Series represents a column in the DataFrame. We passed the Series as a dictionary to the pd.DataFrame() constructor and assigned column names col1, col2, and col3 to the respective Series. Finally, we printed the resulting DataFrame df.

*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************